<div class="random-image-list"
    infinite-scroll
    [scrollWindow]="scrollWindow"
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()">

    <div class="container-size row mx-auto py-4" >
        <ng-container *ngIf="randomImages && randomImages.length; else notResults">
            
            <div class="col-6 col-sm-4 col-md-3 mb-3" *ngFor="let randomImage of randomImages; trackBy: trackByFn">
                <app-random-image-item class="d-block h-100"
                    [searchText]="requestParams.search"
                    [randomImage]="randomImage"></app-random-image-item>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #notResults>
    <p class="text-center mt-5 no-result-message">
        <span>{{notResultText}}</span>
        <span class="remark">'{{requestParams.search}}'</span>
    </p>
</ng-template >